
.Cockpit button {
  border: 1px solid blue;
  padding: 16px;
  background-color: green;
  font: inherit;
  color: white;
  cursor: pointer;
}

.Cockpit button.simple:hover {
  background-color: red;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
  border: 1px solid blue;
}
.Cockpit button.Violet {
  background-color: violet;
  border: 1px solid blue;
  padding: 16px;
}
.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
  padding: 16px;
}
.Cockpit button.Violet:hover {
  background-color: salmon;
  color: black;
}